.side-nav{
  top: 56px;
}
.navbar-fixed{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: none;
}

#sidenav-overlay{
  background: none;
  height: 0vh;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/*ANIMACION DEL NAVBAR SCROLL*/
@-webkit-keyframes headroom--unpinned {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes headroom--unpinned {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideUp {
  -webkit-animation-name: headroom--unpinned;
  animation-name: headroom--unpinned;
  animation-duration: 2.5s;
}

@-webkit-keyframes headroom--pinned {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes headroom--pinned {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideDown {
  -webkit-animation-name: headroom--pinned;
  animation-name: headroom--pinned;
}
